*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-fundo {
    background-image: url('img/Navbar.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    min-width: 400px;
    min-height: fit-content;
}

ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}