* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Kiwi;
    src: url(font/KiwiSoda.ttf);
}

@font-face {
    font-family: Stardew;
    src: url(font/StardewValley.ttf);
}

@font-face {
    font-family: Classic3;
    src: url(font/classic_memesbruh03.ttf);
}
nav {
    width: 100%;
    padding: 20px;
}

body{
    background-image: url('img/Fundo.png');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    min-height: 100vh;
    overflow-x: hidden;
    z-index: 9999;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

li a {
    background-image: url('img/Navbar.png');
    image-rendering: pixelated;
    padding: 70px;
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-position: center;
    position: sticky;
    min-height: 80px;
    color: rgb(90, 54, 22);
    text-decoration: none;
    text-shadow: 1px 1px 1px rgb(92, 84, 42);
    font-size: 30px;
    font-family: Kiwi;
}
li a:hover{
    color: rgb(255, 176, 6);
    text-shadow: 1.2px 1.2px 1.2px rgb(134, 97, 27);
}
header h1{
    text-align: center;
    margin-top: 50px;
    color: rgb(63, 32, 5);
    font-family: Stardew;
    font-size: 120px;
}
header h2{
    text-align: center;
    color: rgb(145, 82, 28);
    font-family: Stardew;
    font-size: 70px;
    margin-bottom: 50px;
}
header {
    padding: 40px;
    margin-bottom: 70px;
    margin-top: 110px;
}
#importancia{
    margin: 20px;
}
#importancia h2{
    font-family: Kiwi;
    font-size: 70px;
    color: rgb(63, 32, 5);
    margin-bottom: 20px;
    text-align: center;
}
#importancia p{
    font-family: Classic3;
    font-size: 31px;
    color: rgb(92, 54, 15);
    margin-bottom: 15px;
    text-align: justify;
    text-indent : 50px; 
}

#importancia p:first-letter{
    font-size: 40px;
    font-weight: bold;
    color: rgb(134, 97, 27);
}

#importancia img{
    width: 8000px;
    display: flex;
    justify-content: center;
    align-self: center;
}
.conteudo1{
    display: flex;
    align-items: center;
}
